body {
  font-size: map-get($font-sizes, "base");
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: map-get($font-sizes, "xxl");
}

h2 {
  font-size: map-get($font-sizes, "xl");
}

h3 {
  font-size: map-get($font-sizes, "lg");
}

h6 {
  font-size: map-get($font-sizes, "lg");
}

.font-xs {
  font-size: map-get($font-sizes, "xs");
}

.font-sm {
  font-size: map-get($font-sizes, "sm");
}

.font-base {
  font-size: map-get($font-sizes, "base");
}

.font-lg {
  font-size: map-get($font-sizes, "lg");
}

.font-xl {
  font-size: map-get($font-sizes, "xl");
}

.font-xxl {
  font-size: map-get($font-sizes, "xxl");
}

.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-normal {
  font-weight: 400;
}

.text-secondary {
  color: map-get($colors, "text-secondary");
}
